/* Define your theme modifications inside next mixin */
@mixin ru_kamotive_kd-hover-ext {

  .login-window-background {
    background-image: url(kamaz2.png);
    background-repeat: no-repeat;
    max-width:100%;
    height:auto;
  }
}